/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* utilities */
h1 {
    text-align: center;
    padding-top: 50px;
}

/* content */